@font-face {
  font-family: 'lato';
  src: url('../assets/lato-regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'lato';
  letter-spacing: .1rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(14, 14, 14);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
