.modal {
  height: 70vh;
  width: 35vw;
  position: fixed;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.18);
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: .5rem;
    
}
.titleBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button {
  background-color: rgba(255, 255, 255, 0.18);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.img {
  aspect-ratio: 16 / 9;
  border-radius: .5rem;
}